@mixin fontFace($name-family, $name-fonts, $weight-fonts, $style-fonts) {
    $file-path: '../' + 'fonts/' + $name-fonts;
    @font-face {
        font-family: $name-family;
        src: url($file-path +'.eot');
        src: url($file-path +'.woff2') format('woff2'), url($file-path +'.woff') format('woff'), url($file-path +'.ttf') format('truetype'), url($file-path +'.svg#'+$name-fonts) format('svg'), url($file-path +'.eot?#iefix') format('embedded-opentype');
        font-weight: $weight-fonts;
        font-style: $style-fonts;
    }
}

@include fontFace(UTM Aptima, UTMAptima, normal, normal);
@include fontFace(UTM AptimaItalic, UTMAptima-Italic, normal, italic);
@include fontFace(UTM AptimaBold, UTMAptimaBold, bold, normal);
@include fontFace(UTM AptimaBoldItalic, UTMAptima-BoldItalic, bold, italic);