//  Color 
$color-main: #f54c4c;
$color-blue: #28338a;
$color-yellow: #dbae27;
$color-grayblack: #58595b;
// Font size
$font-11: 0.6471rem;
$font-12: 0.7059rem;
$font-13: 0.7647rem;
$font-14: 0.8235rem;
$font-15: 0.8824rem;
$font-16: 0.9412rem;
$font-17: 1rem;
$font-18: 1.059rem;
$font-20: 1.176rem;
$font-21: 1.235rem;
$font-22: 1.294rem;
$font-24: 1.412rem;
$font-26: 1.529rem;
$font-28: 1.647rem;
$font-30: 1.765rem;
$font-31: 1.824rem;
$font-32: 1.882rem;
$font-34: 2rem;
$font-35: 2.059rem;
$font-36: 2.118rem;
$font-38: 2.235rem;
$font-40: 2.353rem;
// Font family 
$font-Aptima: UTM Aptima;
$font-AptimaItalic: UTM AptimaItalic;
$font-AptimaBold: UTM AptimaBold;
$font-AptimaBoldItalic: UTM AptimaBoldItalic;